/* Adjust the root and body to ensure full height and set the background */
body, html {
  height: 100%;
  margin: 0;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}

body {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.content-wrapper { /* Assuming .container is wrapped in .content-wrapper for full height */
  flex: 1;
  display: flex;
  flex-direction: column;
}


.container {
  min-height: 100%; /* This makes .container at least the height of the viewport */
}


/* Ensure the app-root fills the entire height */
app-root, .container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  padding: 20px;
  width: 100%; /* Ensure it takes the full width */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.title {
  margin-bottom: 20px;
}

.students-card {
  width: 100%;
  max-width: 550px;
  margin-bottom: 20px; /* Add some space at the bottom */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.mat-elevation-z8 {
  box-shadow: none; /* Remove default shadow to use card's shadow */
}

.add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

/* Additional styles to ensure the content flexes correctly */
.mat-sidenav-container, .mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
