
<div class="container">
  <h2 class="title">List of Students</h2>

  <mat-card class="students-card">
    <mat-table mat-table [dataSource]="students" class="mat-elevation-z8">

      <!-- Columns Definitions -->
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef> Matricule </th>
        <td mat-cell *matCellDef="let student"> {{ student.matricule }} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let student"> {{ student.nom }} </td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let student"> {{ student.prenom }} </td>
      </ng-container>

      <ng-container matColumnDef="dateinstcription">
        <th mat-header-cell *matHeaderCellDef> Registration Date </th>
        <td mat-cell *matCellDef="let student"> {{ formatDate(student.dateInscription) }} </td>
      </ng-container>

      <!-- Delete Action Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let student">
          <button mat-icon-button color="warn" (click)="deleteStudent(student)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
  </mat-card>

  <!-- Floating Action Button for Adding a New Student -->
  <div class="fab-container">
    <button mat-fab class="add-button" color="primary" (click)="openAddStudentDialog()" matTooltip="Add Student" aria-label="Add student">
      <mat-icon>add</mat-icon>
    </button>
   </div>

</div>
