<!-- about-page.component.html -->
<div class="about-page">
  <div class="image-container">
    <div class="profile">
      <img src="/assets/hedi.jpg" alt="Hedi Chakchouk" />
      <p><strong>Hedi Chakchouk</strong></p>
    </div>
    <div class="profile">
      <img src="/assets/bilel.jpg" alt="Bilel Belguith" />
      <p><strong>Bilel Belguith</strong></p>
    </div>
  </div>

  <h2>About Our Project</h2>
  <p>
    This project was created by a dedicated team passionate about students mangement and
    technology. Our aim is to provide a seamless and enjoyable experience for
    manage students inside many fac.
  </p>
  <p>
    We offer a wide range of methode across various fac, ensuring that every
    user finds something that resonates with their needs. Thank you for
    visiting our site and supporting our project!
  </p>
</div>
