<!-- AddStudentComponent.html -->
<div class="container">
  <h2 class="title">Add a Student</h2>

  <form (ngSubmit)="submitStudent(studentForm)" #studentForm="ngForm">
    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Matricule</mat-label>
      <input matInput type="number" [(ngModel)]="student.matricule" name="matricule" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="student.nom" name="nom" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="student.gender" name="gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [(ngModel)]="student.prenom" name="prenom" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <!-- Inside your StudentAddComponent's template -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid" class="submit-button">
        {{ mode === 'add' ? 'Add' : 'Update' }}
      </button>
    </div>

  </form>
</div>
