<!-- AddStudentComponent.html -->
<div class="container">
  <h2 class="title">Add a Student</h2>

  <form (ngSubmit)="addStudent(studentForm)" #studentForm="ngForm">
    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Matricule</mat-label>
      <input matInput type="number" [(ngModel)]="student.matricule" name="matricule" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="student.nom" name="nom" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [(ngModel)]="student.prenom" name="prenom" required>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid" class="submit-button">Add</button>
    </div>
  </form>
</div>
